In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\hoang\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hoang\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hoang\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hoang\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hoang\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hoang\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [56]:
import pandas as pd

#import dataset 
df = pd.read_csv(r'C:\Users\Hoang\Data analysis\Titanic - Machine Learning from Disaster\train.csv')

# first 5 rows
print(f"First 5 rows are: \n {df.head()}")

#dataset over view
print(df.info())

#CLEAN DATA

#count missing value from columns
print(f"Missing value: \n {df.isnull().sum()}")

#because many of the numbers of cabin and age values missing, we fill them with "Unknow" 
df["Cabin"] = df["Cabin"].fillna("Unknow")

#fill missing values in column"Age" with medium value
df["Age"] = df["Age"].fillna(df["Age"].median())

#filling missing values in column Embark with mode value
df["Embarked"] = df["Embarked"].fillna(df["Embarked"].mode()[0])

#count duplicate values 
print(f"Duplicated values : \n{df.duplicated().sum()}")
df.drop_duplicates(inplace=True)

#check missing values after fill
print(f"After filling all missing value: \n{df.isnull().sum()}")
print(df[df["Age"]<10])

First 5 rows are:
    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
Missing value:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
Duplicated values :
0
After filling all missing value:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64
     PassengerId  Survived  Pclass                                      Name  \
7              8         0       3            Palsson, Master. Gosta Leonard
10            11         1       3           Sandstrom, Miss. Marguerite Rut
16            17         0       3                      Rice, Master. Eugene
24            25         0       3             Palsson, Miss. Torborg Danira
43            44         1       2  Laroche, Miss. Simonne Marie Anne Andree
..           ...       ...     ...                                       ...
827          828         1       2                     Mallet, Master. Andre
831          832         1       2           Richards, Master. George Sibley
850          851         0       3   Andersson, Master. Sigvard Harald Elias
852          853         0       3                   Boulos, Miss. Nourelain
869          870         1       3           Johnson, Master. Harold Theodor

        Sex   Age  SibSp  Parch           Ticket     Fare   Cabin Embarked
7      male  2.00      3      1           349909  21.0750  Unknow        S
10   female  4.00      1      1          PP 9549  16.7000      G6        S
16     male  2.00      4      1           382652  29.1250  Unknow        Q
24   female  8.00      3      1           349909  21.0750  Unknow        S
43   female  3.00      1      2    SC/Paris 2123  41.5792  Unknow        C
..      ...   ...    ...    ...              ...      ...     ...      ...
827    male  1.00      0      2  S.C./PARIS 2079  37.0042  Unknow        C
831    male  0.83      1      1            29106  18.7500  Unknow        S
850    male  4.00      4      2           347082  31.2750  Unknow        S
852  female  9.00      1      1             2678  15.2458  Unknow        C
869    male  4.00      1      1           347742  11.1333  Unknow        S

[62 rows x 12 columns]